@font-face {
    font-family: Europa;
    src: url('./europa-regular-webfont.ttf');
}

body{
    font-family: Europa;
    background-color: #000;
    color: #FFF;
    margin: 0;
}

button{
    font-family: Europa;
}

.cabecalho{
    text-align: center;
    position: relative;
    
}

.titulo{
    font-size: 45px;
    margin-top: 95px;
    margin-bottom: -1px;
}

.localizacao{
    font-size: 18px;
}

.data{
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.chamada{
    margin-bottom: 40px;
}

.registrar{
    background-color: #0E6757;
    color: white;
   
}


.menu-superior{
    background-color: #081816;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.menu-flutuante{
    background-color: red;
    
    position:fixed;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    border-radius: 40px;
   
}

.menu-flutuante ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
    padding: 0px 40px;

       
    }

.fade{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}


.logo{
    filter: invert();
    width: 30px;
}

.menubotoes{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
}
.botaodireito{
    background-color: #000;
    color:#FFF;
    border:none;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: bold;

}

video{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}