@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    color: #0b0047;
    font-size: 25px;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
}