@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    
    background-color: #0e082e;
}

.Cabecalho{

    color: aliceblue;
    font-size: 19px;
    font-family: "Cabin Sketch", sans-serif;

    background-color: #00000028;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #ccc2ffd3;

    p{
        
        margin: 40px;
        margin-bottom: 18px;
        margin-top: 30px;
    }
    h1{
        
        margin: 0px;
        color: hsla(244, 100%, 74%, 0.938);
        font-family: "Fredericka the Great", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
    }
    .botao{
       
        padding: 20px 30px;
        margin-right: 70px;
        border-radius: 3px;
        font-weight: bold;
        background-color:  #5f0909ad;
        color: #ff0000;
        border: 2px dotted rgba(151, 12, 12, 0.74);
        cursor: cell;
   
    }
    .botaoinverso{
       
        background-color: transparent;
        color: #0099ff;
        border: 2px dotted rgba(12, 26, 151, 0.74);
        
    }
       
}

